In [1]:
import pandas as pd
import numpy as np

In [2]:
d=pd.read_csv("C:/Users/hp/Downloads/student/student-mat.csv")
d.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [9]:
df=d[["studytime","failures","paid","absences","G1","G2"]]
df.head()

   studytime  failures paid  absences  G1  G2
0          2         0   no         6   5   6
1          2         0   no         4   5   5
2          2         3  yes        10   7   8
3          3         0  yes         2  15  14
4          2         0  yes         4   6  10

In [10]:
for x in range (len(df["paid"])):
    if df.loc[x,"paid"]=="yes":
        df.loc[x,"paid"]=1
    else:
        df.loc[x,"paid"]=0

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [11]:
df.head()

   studytime  failures  paid  absences  G1  G2
0          2         0     0         6   5   6
1          2         0     0         4   5   5
2          2         3     1        10   7   8
3          3         0     1         2  15  14
4          2         0     1         4   6  10

In [12]:
X=df

In [13]:
y=d["G3"]
y.head()

0     6
1     6
2    10
3    15
4    10
Name: G3, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.15,random_state=42)

In [20]:
X_train.head()

     studytime  failures  paid  absences  G1  G2
94           4         0     0         6  11  13
193          1         0     0         8   8   9
157          1         3     0         6   9   8
177          2         0     0         4   6   5
370          2         2     0         4   7   7

In [21]:
from sklearn.linear_model import LinearRegression

lr=LinearRegression()

In [22]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
predictions=lr.predict(X_test)
predictions

array([ 6.31169631, 12.22327633,  3.55004098,  8.55146414,  8.08209097,
       12.72315634, 18.67635998,  7.12679358,  7.26361324, 12.64546262,
       14.964109  ,  6.30004605, 13.65141161, 11.66602227, 14.42711449,
        7.76968221,  6.28597547, 10.70259552, 15.161627  ,  8.3630183 ,
       14.20492007, 16.12141896, 14.964109  ,  5.10007342,  7.9345026 ,
       19.89712302, 10.47354083,  9.20648034, 17.11690253, 10.77134553,
        9.42624325,  7.25300738, 15.03119687, 12.8782629 ,  6.0673862 ,
        4.29937566, -1.79404256, 15.10680713, 11.88641412,  7.8456559 ,
        4.64494089, 10.19652654, 14.0658271 ,  8.02910331, 15.53352025,
        9.64740447, 12.05559126, 14.52816336, 12.51863765, 15.61107353,
       13.3947973 , 14.964109  , 10.33936511,  8.39635757,  4.39220999,
       12.96614117,  9.86779632,  6.00029834, 15.17209242, 16.35785403])

In [33]:
y_test=np.array(y_test,dtype=float)
y_test

array([10., 12.,  5., 10.,  9., 13., 18.,  6.,  0., 14., 15.,  7., 15.,
       10., 14.,  8.,  8., 11., 15.,  0., 14., 16., 16.,  6.,  0., 19.,
       11., 12., 17., 10.,  8., 10., 15., 13.,  8.,  5.,  0., 15., 14.,
        8.,  5., 11., 14.,  9., 15., 10., 11., 13., 13., 16., 13., 15.,
       12., 10.,  6., 12., 11.,  0., 16., 17.])

In [34]:
from sklearn.metrics import mean_squared_error
print(np.sqrt(mean_squared_error(y_test,predictions)))

2.246071934821909